:root {
    font-family: sans-serif;
    color: white;
}

 * {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
background-color: black;
display: flex;
flex-direction: column;
}
header{

}

main{
background-color: rgb(13, 13, 25);
}

section {
    height: 25vh;
}

footer {
    display: flex;
    justify-content: space-between;
}

div {
    
}

button {
    background-color: red;
    color: white;
}

h1 {
    color: red;
}

a{
    color: white;
    text-decoration: none;
}

.column {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.row, .menu {
    flex: 1;
    display: flex;
    flex-direction: row;

}

img {
    width: 200px;

}